{% capture date %}{{ page.date }}{{ post.date }}{% endcapture %}
{% capture date_formatted %}{{ page.date_formatted }}{{ post.date_formatted }}{% endcapture %}
{% capture has_date %}{{ date | size }}{% endcapture %}

{% capture updated %}{{ page.updated }}{{ post.updated }}{% endcapture %}
{% capture updated_formatted %}{{ page.updated_formatted }}{{ post.updated_formatted }}{% endcapture %}
{% capture was_updated %}{{ updated | size }}{% endcapture %}

{% if has_date != '0' %}
  {% comment %} FIXME ugly hack below to get French months (#1) {% endcomment %}
  {% capture time %}<time datetime="{{ date | datetime | date_to_xmlschema }}" pubdate{% if updated %} data-updated="true"{% endif %}>{{ date_formatted | replace:'er','re' | replace:'January','Janvier' | replace:'February','Février' | replace:'March','Mars' | replace:'April','Avril' | replace:'June','Juin' | replace:'July','Juillet' | replace:'August','Août' }}</time>{% endcapture %}
{% endif %}

{% if was_updated != '0' %}
  {% comment %} FIXME ugly hack below to get French months (#1) {% endcomment %}
  {% capture updated %}<time datetime="{{ updated | datetime | date_to_xmlschema }}" class="updated">Mise-à-jour {{ updated_formatted | replace:'er','re' | replace:'January','Janvier' | replace:'February','Février' | replace:'March','Mars' | replace:'April','Avril' | replace:'June','Juin' | replace:'July','Juillet' | replace:'August','Août' }}</time>{% endcapture %}
{% else %}{% assign updated = false %}{% endif %}
